<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>日本文化交流小站</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="site">
        <my-header></my-header>
        <my-nav v-on:show-page="showPage" v-on:show-home-page="showHomePage"></my-nav>
        <my-page-1 v-show="currentPage == 1"></my-page-1>
        <my-page-2 v-if="currentPage == 2"></my-page-2>
        <my-page-3 v-if="currentPage == 3"></my-page-3>
        <my-footer></my-footer>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://unpkg.com/rxjs/bundles/Rx.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    
    <script src="/javascripts/my-article.js"></script>    
    <script src="/javascripts/my-article-nav.js"></script>    
    <script src="/javascripts/my-page-1.js"></script>
    <script src="/javascripts/my-page-2.js"></script>
    <script src="/javascripts/my-page-3.js"></script>
    <script src="/javascripts/my-header.js"></script>
    <script src="/javascripts/my-footer.js"></script>
    <script src="/javascripts/my-nav.js"></script>
    <script src="/javascripts/site.js"></script>
    
  </body>
</html>
